@import "./header-primary";
@import "./header-secondary";
@import "./header-search";
@import "./header-social";
@import './header-menu';
@import './header-connect';
@import './header-logo';

.header-inner {
  @include media-breakpoint-up("lg") {
    background-position: center;
    background-size: cover;
    background-image: url(/images/banner.png);
    height: 400px;
    position: relative;
  }
}
